html, body{
	margin:0;
	padding:0;
    margin-left:15px;
}
html{
	font-family: 'Times', serif;
}
body{
	background-color:black;
	color: white;
    padding-bottom:50px;
    padding: 20px;
    cursor: url(cursor.png), auto;
}

img{ 
	z-index: 3; 
}

canvas{ 
	z-index: 4; 
}

h1{ 
	font-family:Times;
    font-weight:400;
    font-size:45pt;
    margin-bottom:5px;
    margin-top:10px;
}

a{  
    font-family: sans-serif;
    font-weight:100;
}

p{  
    font-family: sans-serif;
    font-weight:100;
    line-height:1.4;
    letter-spacing:.2pt;
}

#intro{
    max-width:50%;
}

#intro:hover #intro-info{
    visibility:visible;
}

#intro-info{
    visibility:hidden;
    width:440px;
    padding:20px;
    position:absolute;
    background-color:rgba(0,0,0,0.75);
    z-index:6;
    border-style:solid;
    border-color:white;
    border-width:1px;
}

#share a{
    text-decoration:none;
    color:white;
}

#drawing {
	position: relative;
    float: right;
}

#save {
    display: block;
    padding: 0;
    font-size: 40px;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

#clearLines {
    display: block;
    padding: 5px;
    font-size: 25px;
    font-weight:600;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    z-index: 5;
}

#deleteLetter {
    display: block;
    position: absolute;
    bottom: 0;
    right: -20px;
    padding: 5px;
    font-size: 25px;
    font-weight:600;
    text-decoration: none;
    margin-right:0;
    color: white;
    box-sizing: border-box;
}

#drawing canvas {
	position: absolute;
}

#drawing img {
	width: 500px;
	height: 558px;
}

.column-share {
    width: 50%;
}

.column-inputs {
    width: 50%;
}

.input-group {
    position: relative;
    margin-bottom:100px;
}

#line{
    width: 95%;
    height: 100px;
    border-bottom: 3px solid white;
    margin-right:0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}

.gallery img{
    display:inline-block;
    width: 200px;
    height: auto;
    outline: 1px solid transparent;
}

img.letter:hover{
    opacity:.5;
}

.gallery img:active {
    opacity: .0;
}

.small-image{
    width: 85px;
    height: auto;
    display:inline-block;
}

.flex-right {
   overflow: hidden;
   padding-right:100px;
   padding-bottom:25px;
}

.row {
    overflow: hidden;
}

.column {
    float: left;
    display: block;
    box-sizing: border-box;
}
